[Unit]
Description=Ollama Service
After=network-online.target

[Service]
Type=simple
User=ollama
Group=ollama
Environment=HOME=/var/lib/ollama
Environment=OLLAMA_HOST=127.0.0.1
ExecStart=/usr/local/bin/ollama serve
Restart=always
RestartSec=3
WorkingDirectory=/var/lib/ollama

[Install]
WantedBy=multi-user.target
