datastore-endpoint: "postgres://${pg_user_kubernetes}:${pg_password_kubernetes}@${pg_vault_ip}:5432/${pg_database_kubernetes}"
datastore-cafile: ${cafile}
datastore-certfile: ${certfile}
datastore-keyfile: ${keyfile}
